@model IEnumerable<Ecommerce.ViewModel.CartViewModel>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th scope="col">Details</th>
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                    <img src="~/images/@item.ProductImageUrl" width="100" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
                <td>

                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-outline-info">Details</a>


                </td>
           
        </tr>
}
    </tbody>
</table>
@{
    decimal total = 0;
    foreach (var item in Model)
    {
        total += item.TotalPrice;
    }
}
<p><i class="fas fa-dollar-sign" style="border: 2px solid #333; padding: 10px;font-size:large">Total Price: $@total</i> </p>
<div class="row">
    <p>
        <a asp-action="AllProducts" asp-controller="Product" class="btn btn-outline-info w-100">Continue Shopping</a>
    </p>
    <p>
        <a asp-action="GetOrders" asp-controller="Order" class="btn btn-outline-success w-100">Back to Orders</a>
    </p>

</div>

